
.goup50{
    opacity: 0;
    animation: goup50 2s ease forwards;
}
.goup100{
    opacity: 0;
    animation: goup100 2s ease forwards;

}
.leftgo{
    opacity: 0;
    animation: leftgo 2s ease forwards;
}
.rightgo{
    opacity: 0;
    animation: rightgo 2s ease forwards;
    
}
.laclu{
    animation: laclu 5s ease infinite; 
}
@keyframes goup50 {
       0%{
        transform: translateY(50%);
        opacity: 0;
       }
       100%{
        transform: translateY(0);
        opacity: 1;
       }
}
@keyframes goup100 {
    0%{
     transform: translateY(100%);
     
     opacity: 0;
    }
    100%{
     transform: translateY(0);
     opacity: 1;
    }
}
@keyframes leftgo {
    0%{
     transform: translateX(-150%);
     opacity: 0;
    }
    100%{
     transform: translateX(0);
     opacity: 1;
    }
}
@keyframes rightgo {
    0%{
     transform: translateX(200%);
     opacity: 0;
    
    }
    20%{
        transform: translateX(200%);
        opacity: 0;
       
       }
    
    100%{
     transform: translateX(0);
     opacity: 1;
    
    }
}
@keyframes laclu {
    0%{
        transform: rotate(0deg);
    }
    
    30%{
        transform: rotate(-3deg);
    }
    
    50%{
        transform: rotate(-2deg);
    }
   
    70%{
        transform: rotate(-1deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}
/* delay */ 
.delay1{
    
        animation-delay: 1s;
        
    }
    .delay2{
       
        animation-delay: 2s;
    }
    .delay3{
      
        animation-delay: 3s;
    }
    .delay0_3{
   
       animation-delay: 0.3s;
       
    }
    .delay0_5{
   
       animation-delay: 0.5s;
       
    }
    .delay1_5{
   
       animation-delay: 1.5s;
       
    }
    .delay2_5{
   
        animation-delay: 2.5s;
        
     }
     .delay3_5{
   
        animation-delay: 3.5s;
        
     }
     