*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
}

button{
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 50%,#f55f8d 100%);
    background-size: 200%;
    border: none;
    font-size: 100%;
    transition: 0.5s;
}
button:hover{
background-position: right ;
transition: 0.3s;
}
.title p{
    color:#f55f8d ;
    font-size: 30px;
    font-weight: 800;
    margin:10px 0 ;
}
.title h1{
  font-size: 70px;
  margin: 20px 0;
}
.content span{
   margin: 20px 0;
   font-size: 120%;
}
.content p{
    margin: 20px 0;
    font-size: 120%;
}
nav ul li{
   list-style-type: none;
   display: inline;
}
 li{
    list-style-type: none;
}
/* header */
header{
    padding-top: 50px;
    background: url(./pic2.png);
}
.header_container{
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.header_container nav {
    font-size: 100%;
    display: flex;
     align-items: center;
}
.header_container nav li{
    padding: 20px 0;
}
.header_container nav i{
    margin-right: 20px;
}
.header_container nav li:hover{
animation:rolldown 0.3s ease forwards;
color: #f55f8d;
transition: 0.5s;
}
@keyframes rolldown {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(20px);
        opacity: 0;
    }
    70%{
        transform: translateY(-20px);
        opacity: 0;
    }100%{
        transform:translateY(0) ;
        opacity: 1;
    }
}
.banner{
    margin-top: 80px;
    overflow: hidden;
}
.banner_container{
    display: flex;
    align-items: center;
   
}
.banner_content{
    width: 65%;
   
}
.banner_content i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 100%);
}
.banner_picture{
    width: 35%;
}
.banner_picture img{
  width: 130%;
}
/* ------end header------ */
/* ---------------------------------------- */
/* SERVICES */
.services{
    background: url(./bg2.png);
    padding-top: 80px;
}
 .services_content{
    text-align: center;
 }
 .services_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
 }
 .services_item{
  background: white;
  padding: 0 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
 }
 .services_item:hover{
    transform: translateY(-5%);
    transition: 0.5s;
 }
 .services_item_picture{
    width: 60%;
    margin: 20px auto;
 }
 .services_item_content *{
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
 }
 .services_item_content p{
    font-size: 20px;
 }
/* ____________END SERVICE_________________ */
/* ---------------------------------------- */
/*  ABOUT US */
.aboutus{
    padding-top: 80px;
    padding-bottom: 30px;
    background: url(./bg15.png);
}
.about_container
{ 
    display: flex;
    align-items: center;
   
}
.about_picture{
    display: flex;
    align-items: center;
   width: 50%;
   height: 600px;
   position: relative;
 
   margin-right: 30px;
}
.about_container i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 100%);
}
.about_picture img{
   
    width: 120%;
  position: absolute;
 left: -25%;
   border-radius: 30px;
 }
.about_content{
width: 52%;

}
.about_content .content{
    color: #636363;
}
/* ______________END ABOUTUS____________________ */
/* ---------------------------------------- */
/* NUMBERS */
.numbers{
    background: url(./bg14.png);
    background-position: center;
    padding: 50px 0;
}
.number_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.number_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.number_item_icon{
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    background:linear-gradient(to right,#f55f8d 0%,#f8ae56 100%);
    color: white;
}
.number_item_icon i{
    font-size: 70%;
}

.number_item_content h1
{ display: inline;
    font-size: 50px;
    color: #f55f8d;
}
.number_item_content p
{ 
    font-size: 20px;
}
/* ___________END NUMBER_______________ */
/* ---------------------------------------- */
/* FEATURES */
.features{
margin: 100px 0;
background: url(./bg2.png);
}
.features_container{
    display: flex;
    align-items: center;
    
}
.features_content{
    width: 45%;
}
.features_picture{
    width: 55%;
}
.features_item{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 30px 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    background: white;
    transition: 1s;
   position: relative;
  z-index: 1;
 
}
.testmau{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 100%);
   z-index: 0;
   opacity: 0;
   transition: 1s;
  
}
.features_item:hover .testmau{
    opacity: 1;
    transition: 1s;
}
.features_item:hover{
    color: white;
    transition: 1s;
}
.features_item_icon{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-size: 80px;
    width: 20%;color: #f55f8d;
    transition: 1s;
}
.features_item:hover .features_item_icon{
    color: white;
    transition: 1s;
}
.features_item_content{
    position: relative;
    z-index: 1;
    width: 90%;
    font-size: 20px;
}
.la-laptop {
    position: relative;
     z-index: 0.5;
}
.fa-rocket
{  
    position: absolute;
    top: 10%;
    left: 25%;
    transform: rotate(-43deg);
    z-index: 0.75;
}
/* ____________END FEATURES________________ */
/* ---------------------------------------- */
/* PORTFOLIO */
.portfolio{
background: url(./bg17.png);
background-size: 150%;
background-position: center;
}
.portfolio_container{
    text-align: center;
}
.portfolio_list{
    display: grid;
    grid-template-columns: repeat(2,0.75fr) 1.1fr;
    gap: 30px;
   
   
}
.portfolio_list *{
    border-radius: 10px;
}
.portfolio_list .img1{
   grid-column: 1/span 2;
  
   
}
.portfolio_list .img5{
    grid-column: 3/ span 1;
    grid-row: 2/span 2;
    
 }
 .portfolio_list .img6{
    grid-column: 1/span 2;
    
 }
 figure{
    position: relative;
    z-index: 0;
    overflow: hidden;
 }

 .port_content{
    position: absolute;
    color: white;
    bottom:-50%;
    left: 10px;
    transition: 0.5s;
    
 }
 .port_content p{
   color: #fff;
   opacity: 0.7;
 }
 .port_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 100%);
   border-radius:0 ;
    top: 0;
     right: 0;
     border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: 0.5s;
    opacity: 0;
}
.port_icon a{
    color: white;
}
 figure:hover .port_content{
    bottom: 10%;
    transition: 0.5s;
 }
 figure:hover .port_icon{
    top: 5%;
    right: 5%;transition: 0.5s;
    opacity: 1;
 }
 figure:hover .port_overplay{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 98.5%;
    top: 0;
    display: block;
    background-color: rgba(0,0,0,.4);
    transition: 0.5s;
 }
 
 .linear{
    position: absolute;
    width: 200%;
    height: 10%;
    background:white;
    top: 0;
    left: -100%;
   opacity: 0;
   transform: rotate(-45deg);
   transition: 0.5s;
 }
 figure:hover .linear{
    top: 100%;
    left: 100%;
    opacity: 0.4;
 }

/* _______________END PORTFOLIO__________ */
/* ---------------------------------------- */
/* PLAN */
.plan{
    padding-top: 100px;
    text-align: center;
    background: url(./bg16.png);
}
.plan_list{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px;
}
.plan_item{
    padding: 20px 50px;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    border: 5px solid transparent;
    border-radius: 20px;
    transition: 0.5s;
    border-image: 100 round;
}
.plan_list .plan_item:hover{
    border-image: url(./br.png) 1 round;
    transition: 0.5s;
}
.plan_item_top{
    font-size: 20px;
}
.plan_item_top h1{
    color: #f8ae56;
}
.plan_item_top *{
    margin: 5px 0;
}.plan_item_top h1{
    font-size: 50px;
    display: inline;
}
.picture_plan{
  padding: 0 30%;
}
.plan_item_bottom nav *{
    text-align: left;
     padding: 10px 10px;
     font-size: 20px;
     margin-right: 10px;
}
.plan_item_bottom i{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 30px;
   height: 30px;
   font-size: 150%;
    color: #f55f8d;
    background: #feeff3;
  border-radius: 50%;
}
.plan_item_bottom nav li{
  display: flex;
}
/* ________________END PLAN_____________ */
/* ---------------------------------------- */
/* testimonial */
.testimonial{
    background: url(./bg17.png);
}
.testimonial_title{
    text-align: center;
    margin-top: 120px;
}
.testimonial-content {
    max-width: 1199px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0;
  }
  
 
 .testimonial-pic img{
   
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    background-color: #f55f8d;
  position: relative;
  z-index: 2;
  }
  
  .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
 }
 .testimonial-pic::before {
    content: "";
    height: 15px;
    width: 15px;
    bottom: 30px;
}
 .testimonial-pic::after {
    content: "";
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial-pic::before{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial-pic::after  {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 30px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
    position: relative;
  }
  .testimonial-pic::after{

  } 
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px 0;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.4);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
 
 
  .testimonial_item_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial_item_title_icon{
    width: 5%;
    font-size: 500%;
  
  }
  .testimonial_item_title_content{
    width:95%;
    font-size: 20px;
    
  }
  .testimonial_item_content{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    background: #f55f8d;
}
.swiper-slide-thumb-active .shape-bx{
    opacity: 1 ;
   }
.swiper-slide-thumb-active .testimonial-pic::after{
 opacity: 1 ;
}
.swiper-slide-thumb-active .testimonial-pic::before{
 opacity: 1 ;
}
/* __________END testimonial______ */
/* ---------------------------------------- */
/* BLOG */
.blog{
    padding-top: 100px;
    background: url(./bg16.png);
}
.blog_title{
    text-align: center;
}
.blog_list{
  display: flex;
  padding: 10px 0;
}
.blog_item{
    margin: 0 20px;
    border-radius: 10px;
   background: rgba(245,95,141,.1);
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.4);
}
.blog_item_picture{
    position: relative;
    margin-bottom: 30px;
}
.blog_item_time {
   
    padding: 10px 10px ;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 100%);
   position: absolute;
   left: 0;
   bottom: -10%;
   border-radius: 5px;
   margin-left: 10px;
   color: white;
}
.blog_item_picture img{
    border-radius: 10px;
}
.blog_item_time span{
    font-size: smaller;
   
}
.blog_item h3{
    font-size: 25px;
    margin-left: 10px;
}
.blog_item p{
    margin-left:10px ;
    font-size: 18px;
    color: #262626;
    padding: 10px 0;
}
.blog_item hr{
    margin-top: 30px;
    opacity: 0.5;
}
.blog_item_coppyright{
    margin: 10px;
    display: flex;
}
.blog_item_coppyright p{
    font-size:15px ;
    margin-right: 10px;
    
}
.blog_item_coppyright span{
    color: #f55f8d;
}.blog_item_coppyright i{
    color: #f55f8d;
}
/* __________END BLOG_______ */
/* ---------------------------------------- */
/* END */
  /* -----------------subscribe-------------------- */
  .subscribe{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
   
 }
 .subscribe_container{
    
    background-color: white;
    background-image: url(./pattern3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    border-radius: 15px;
 }
 .subscribe_title{
    width: 30%;
    text-align: center;
 }
 .subscribe_form{
    width: 50%;
    margin: 30px 0;
 }
 .subscribe_form form{
     padding:   30px;
    
 }
 .subscribe_form form input{
    width: 81%;
    padding: 25px ;
    border: none;
    transition: 0.3s;
    border-radius: 10px;
 }
 .subscribe_form form button{
    background-size: 200%;
    background-position: left;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 50%,#f55f8d 100% ) ;
    padding: 25px 41px;
    transition: 0.5s;
    color: white;
    border-radius: 0px;
 }
 .subscribe_form form:hover input{
    border: 1px solid #f55f8d ;
    transition: 0.3s;
 }
 .nghieng{
    transform: rotate(45deg);
 }
 .subscribe_form form button:hover .send {
    animation: send 0.3s ease forwards;
 }
 @keyframes send {
    0% {
        opacity: 1;
        transform: translateX(0);
       
    }
    50%{
        opacity: 0;
        transform: translateX(100%);
        
    }
    75%{
        opacity: 0;
        transform: translateX(-100%);
       
    }
    100%{
        opacity: 1 ;
        transform: translateX(0);
        
    }
}
 .subscribe_form form button:hover{
    background-position: right ;
    transition: 0.5s;
 }

    /* --------------------------------------------- */
.end{
    position: relative;
     margin-top: 50px;
    width: 100%;
    background: url(./pattern2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
     background-color: black;
    background-size: auto;
  
   
}
.end_container{
    padding-top: 18%;

    display: flex;
    color: white; 
}
.end_left{
    width: 20%;
    margin-right: 20px;
}
.end_left_picture{
    width: 70%;
}
.end_left_item{
display: flex;
align-items: center;
margin: 20px 0;
}

.end_left_item_icon{
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #f55f8d 0%,#f8ae56 50%, #f55f8d 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.end_right{
    width: 70%;
    display: flex;
   
    justify-content: space-between;
}
.end_right_item_title{
    margin: 10px 0 40px 0;
    position: relative;
   
}
.end_right_item_title::after{
    content: " ";
    position: absolute;
    height: 20%;
     bottom: -50%;
      left: 0;
     width: 20%;
     border-radius: 10px;
     background: linear-gradient(to right, #f55f8d 0%,#f8ae56 50%, #f55f8d 100%);}
     .end_right_item_title::before{
        content: " ";
        position: absolute;
        height: 20%;
         bottom: -50%;
          left: 25%;
         width: 50%;
         border-radius: 10px;
         background: linear-gradient(to right, #f55f8d 0%,#f8ae56 50%, #f55f8d 100%);}
    
.end_right_item nav *{
    list-style-type: none;
    margin: 10px 0;
}
.end_right_item i{
    margin-right: 10px;
}
.end_right_item a{
    text-decoration: none   ;
    color: #636363;
}
.end_right_item a:hover{
    color:white;
transition: 1s;    
}
/* __________ END END________________ */
/* COPPYRIGHT */
.coppyright{
    background: #1f343b;
    padding: 10px 0;
}
.coppyright_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coppyright_content{
    color: white;
}
.coppyright_content span{
    color: #f55f8d;
}
.coppyright_icon{
    display: flex;
    align-items: center;
}
.coppyright_icon .shape_circle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.1);
    color: white;
    margin-right: 10px;
}
/* ///////////////////////////////////////////// */
.back_to_top{
    width: 40px;
    height: 40px;
    background: #f55f8d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 3;
   opacity: 1;
}
a .back_to_top {
   
    color: white;
}


